.elementor-2 .elementor-element.elementor-element-50b00e3d:not(.elementor-motion-effects-element-type-background),
.elementor-2 .elementor-element.elementor-element-50b00e3d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-2 .elementor-element.elementor-element-50b00e3d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-50b00e3d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-3133013>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-2 .elementor-element.elementor-element-7aee3b8a>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-4fd23f9e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-4fd23f9e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-541e8b6:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2 .elementor-element.elementor-element-541e8b6>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-2 .elementor-element.elementor-element-541e8b6>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-541e8b6>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-30fecfc1>.elementor-widget-container {
    margin: -400px -200px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-30fecfc1 img {
    opacity: 1;
}

.elementor-2 .elementor-element.elementor-element-d6de006 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-d6de006>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-4be1ae63:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2 .elementor-element.elementor-element-4be1ae63>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-2 .elementor-element.elementor-element-4be1ae63>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-4be1ae63>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-3145e676>.elementor-widget-container {
    margin: -400px -200px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-3145e676 img {
    opacity: 1;
}

.elementor-2 .elementor-element.elementor-element-6a6a98f6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-6a6a98f6>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-592896bb:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2 .elementor-element.elementor-element-592896bb>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-2 .elementor-element.elementor-element-592896bb>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-592896bb>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-4161352d>.elementor-widget-container {
    margin: -400px -200px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-4161352d img {
    opacity: 1;
}

.elementor-2 .elementor-element.elementor-element-4cceb286 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-4cceb286>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-6d437ad9:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2 .elementor-element.elementor-element-6d437ad9>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-2 .elementor-element.elementor-element-6d437ad9>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-6d437ad9>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-15c80861>.elementor-widget-container {
    margin: -400px -200px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-15c80861 img {
    opacity: 1;
}

.elementor-2 .elementor-element.elementor-element-2d0d3a43 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-2d0d3a43>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-7125ff59:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2 .elementor-element.elementor-element-7125ff59>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-2 .elementor-element.elementor-element-7125ff59>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-7125ff59>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-3fbc3f81 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-2 .elementor-element.elementor-element-3fbc3f81>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-578bb7f1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-2 .elementor-element.elementor-element-578bb7f1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

.elementor-2 .elementor-element.elementor-element-578bb7f1>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-2 .elementor-element.elementor-element-578bb7f1>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-2 .elementor-element.elementor-element-39200fe6>.elementor-widget-container {
    margin: -800px -200px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-39200fe6 img {
    opacity: 1;
}

.elementor-2 .elementor-element.elementor-element-14611c3e>.elementor-widget-container {
    margin: -430px -200px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-14611c3e img {
    opacity: 1;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
    color: var( --e-global-color-primary);
}

.elementor-2 .elementor-element.elementor-element-645edea6 {
    text-align: center;
}

.elementor-2 .elementor-element.elementor-element-645edea6 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-27ee5a30 {
    text-align: center;
}

.elementor-2 .elementor-element.elementor-element-27ee5a30 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    color: #FFFFFF;
}

.elementor-2 .elementor-element.elementor-element-63f6a392 {
    text-align: center;
}

.elementor-2 .elementor-element.elementor-element-63f6a392 .elementor-heading-title {
    font-family: "Roboto", Sans-serif;
    font-weight: 800;
    color: #FFFFFF;
}

@media(max-width:767px) {
    .elementor-2 .elementor-element.elementor-element-c79dbc2>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-7aee3b8a {
        width: 100%;
        max-width: 100%;
    }
    .elementor-2 .elementor-element.elementor-element-7aee3b8a>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-4fd23f9e {
        margin-top: -20px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-541e8b6 {
        width: 100%;
    }
    .elementor-2 .elementor-element.elementor-element-541e8b6>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-30fecfc1>.elementor-widget-container {
        margin: -155px 20px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-30fecfc1 {
        text-align: right;
    }
    .elementor-2 .elementor-element.elementor-element-30fecfc1 img {
        width: 100%;
        max-width: 100%;
        height: 140px;
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-d6de006 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-4be1ae63 {
        width: 100%;
    }
    .elementor-2 .elementor-element.elementor-element-4be1ae63>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-3145e676>.elementor-widget-container {
        margin: -155px 20px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-3145e676 {
        text-align: right;
    }
    .elementor-2 .elementor-element.elementor-element-3145e676 img {
        width: 100%;
        max-width: 100%;
        height: 140px;
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-6a6a98f6 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-592896bb {
        width: 100%;
    }
    .elementor-2 .elementor-element.elementor-element-592896bb>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-4161352d>.elementor-widget-container {
        margin: -155px 20px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-4161352d {
        text-align: right;
    }
    .elementor-2 .elementor-element.elementor-element-4161352d img {
        width: 100%;
        max-width: 100%;
        height: 140px;
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-4cceb286 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-6d437ad9 {
        width: 100%;
    }
    .elementor-2 .elementor-element.elementor-element-6d437ad9>.elementor-element-populated {
        margin: 0px 0px -20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-15c80861>.elementor-widget-container {
        margin: -155px 20px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-15c80861 {
        text-align: right;
    }
    .elementor-2 .elementor-element.elementor-element-15c80861 img {
        width: 100%;
        max-width: 100%;
        height: 140px;
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-2d0d3a43 {
        margin-top: 20px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-7125ff59 {
        width: 100%;
    }
    .elementor-2 .elementor-element.elementor-element-7125ff59>.elementor-element-populated {
        margin: 0px 0px -20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-3fbc3f81 {
        margin-top: 20px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-578bb7f1 {
        width: 100%;
    }
    .elementor-2 .elementor-element.elementor-element-578bb7f1>.elementor-element-populated {
        margin: 0px 0px -20px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-39200fe6>.elementor-widget-container {
        margin: -315px 20px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-39200fe6 {
        text-align: right;
    }
    .elementor-2 .elementor-element.elementor-element-39200fe6 img {
        width: 100%;
        max-width: 100%;
        height: 140px;
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-14611c3e>.elementor-widget-container {
        margin: -175px 20px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-14611c3e {
        text-align: right;
    }
    .elementor-2 .elementor-element.elementor-element-14611c3e img {
        width: 100%;
        max-width: 100%;
        height: 140px;
        border-radius: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-645edea6>.elementor-widget-container {
        margin: -30px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-645edea6 {
        text-align: center;
    }
    .elementor-2 .elementor-element.elementor-element-645edea6 .elementor-heading-title {
        font-size: 10px;
    }
    .elementor-2 .elementor-element.elementor-element-27ee5a30>.elementor-widget-container {
        margin: -35px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-27ee5a30 {
        text-align: center;
    }
    .elementor-2 .elementor-element.elementor-element-27ee5a30 .elementor-heading-title {
        font-size: 10px;
    }
    .elementor-2 .elementor-element.elementor-element-63f6a392>.elementor-widget-container {
        margin: -40px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-2 .elementor-element.elementor-element-63f6a392 {
        text-align: center;
    }
    .elementor-2 .elementor-element.elementor-element-63f6a392 .elementor-heading-title {
        font-size: 10px;
    }
}